@import url('https://fonts.googleapis.com/css2?family=Nova+Flat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.tag-div {
  border: 4px solid #FF01FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}


.project-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 156px;
  text-align: center;
  color: #FF01FF;
}

.project-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: center;
  letter-spacing: 0.275em;
  text-transform: uppercase;

  color: #ECEAE1;
}

.logo {
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;

  color: #ECEAE1;
}

.button-div {
  display: flex;
  justify-content: center;
}

.userLog {
  width: 250px;
  height: 70px;
}

.usernameBox {
  box-sizing: border-box;
  position: relative;
  left: 10%;
  top: 22.79%;
  width: 200px;
  height: 40px;
  background: #2B2F39;
  border-bottom: 4px solid #FF01FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 35px;
  z-index: 1;
}

.textBox {
  box-sizing: border-box;
  background: #2B2F39;
  border: 4px solid #FF01FF;
  height: fit-content;
  padding: 20px;
  font-family: 'Montserrat';
}

.tric {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  line-height: 156px;
  text-align: center;

  color: #FF01FF;
}

.rightChoice {
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.275em;
  text-transform: uppercase;

  color: #ECEAE1;
}

.avatar {
  box-sizing: border-box;

  background: #2B2F39;
  border: 4px solid #FF01FF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 161px;
  height: 70px;
  width: 70px;
  z-index: 2;

  float: left;
}

.answerButton {
  background: #2B2F39;
  border: 4px solid #FF01FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
  height: fit-content;
  text-align: center;

  color: #ECEAE1
}

.ant-btn[disabled],
.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {
  cursor: not-allowed !important;
  background: #FF01FF !important;
  color: #2B2F39 !important;
  border: 4px solid #FF01FF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  height: fit-content;
}

.ant-form-item-label>label {
  color: #FF01FF;
}

p,
h1,
h3,
h2,
h5 {
  color: #FF01FF;
  font-family: "Nova Flat";
}

body {
  margin: 0;
  height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  background-size: auto;
  background-attachment: fixed;

  flex: 1;
  align-self: 'stretch';
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(backround1.png);
  background-color: #2B2F39 !important;
}